.header__modal-button--active {
  border: 1rem solid transparent;
  background-color: #20dcc9;
  color: #f1f0f0;
  font-weight: 600;
  &:active {
    background-color: #17968a;
  }
}

.menu-item__amount-button--active {
  border: 0.01rem solid transparent;
  padding: 0;
  background-color: transparent;
  color: #232323;
  font-weight: 600;
  &:active {
    background-color: #e3e3e3;
  }

	
  .add {
    width: 1rem;
    font-weight: 600;
  }

  .subtract {
    width: 1rem;
    font-weight: 600;
  }
}
