.modal {
  display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.4rem;
	width: 58rem;
	height: 40rem;
  position: absolute;
  top: calc(50vh - 300px);
  left: calc(50vw - 450px);
  background-color: #fff;
	z-index: 10;
}
