.delivery-header {
  position: sticky;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffffe;
  &::after {
    position: absolute;
    content: '';
    bottom: -8px;
    width: 100vw;
    border-bottom: 1px solid #c0c0c051;
  }
  .header__text {
    margin-right: 32rem;
    font-size: 2rem;
    color: #252525;
  }
  .header__button-wrap {
    position: relative;
    > span {
      display: flex;
      justify-content: center;
      align-items: center;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 26px;
    height: 26px;
    font-size: 14px;
    text-align: center;
    background-color: #fb0a46;;
    color: #fffffe;
    border-radius: 50%;
    }
  }
}
