.delivery-header {
  position: sticky;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffffe;
  &::after {
    position: absolute;
    content: '';
    bottom: -8px;
    width: 100vw;
    border-bottom: 1px solid #c0c0c051;
  }
  .header__text {
    margin-right: 32rem;
    font-size: 2rem;
    color: #252525;
  }
}
