.menu-item {
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 40px ;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    border-bottom: 1px solid #c0c0c051;
  }
  .menu-item__left-info {
    display: flex;

    .menu-item__img-wrap {
      width: 100px;
      height: 100px;
      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .menu-item__name-price {
      margin-left: 20px;
      .menu-item__name {
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 30px 0;
      }
      .menu-item__price {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
  .menu-item__amount {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .menu-item__amount__text {
      width: 100px;
    }
    .menu-item__button-wrap {
      display: flex;
      padding: 6px;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #c0c0c051;
      width: 12rem;
      .amount {
        position: relative;
        padding: 0 px;
      }
      .amount::before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        top: -8px;
        left: -12px;
        height: 32.5px;
        background-color: #c0c0c051;
      }
      .amount::after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        top: -8px;
        right: -12px;
        height: 32.5px;
        background-color: #c0c0c051;
      }
    }
  }
}
